@{
    Layout = null;
    ViewData["Title"] = "LogIn Page";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body {
            font-family: "Ink Free";
            background: #dae8fa;
            box-shadow: inset 0 0 10px 3px lavender;
        }
    </style>
</head>

<body>
    <div class="container vh-100">
        <div class="row h-100">
            <div class="col-md-6 col-sm-10 mx-auto my-auto px-5 pb-2 pt-4 border" style="border-color:#d2dbe4 !important">
                <form>
                    <div class="form-row">
                        <h2 class="text-secondary mx-auto">Welcome!</h2>
                    </div>

                    <div class="form-row mt-3">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Email<span class="text-danger">&nbsp;*</span></label>
                            <input type="email" name="Email" class="form-control" id="inputEmail4" placeholder="Email" required="required">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="user_phone">Phone<span class="text-danger">&nbsp;*</span></label>
                            <input type="text" class="form-control" id="user_phone" name="Phone"
                                   placeholder="Enter your phone number" required="required">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="user_password">Password<span class="text-danger">&nbsp;*</span></label>
                        <input type="password" class="form-control" name="password" placeholder="Enter your password" required="required" />
                    </div>

                    <div class="form_group">
                        <label for="confirm_user_password">Confirm Password<span class="text-danger">&nbsp;*</span></label>
                        <input type="password" class="form-control" name="passwordAgain"
                               placeholder="Enter your password again" required="required" />
                    </div>

                    <div class="form-group">
                        <label for="inputAddress">Address</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                    </div>

                    <div class="form-group">
                        <label for="inputAddress2">Address 2</label>
                        <input type="text" class="form-control" id="inputAddress2"
                               placeholder="Apartment, studio, or floor">
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputCity">City</label>
                            <input type="text" class="form-control" id="inputCity">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputState">State</label>
                            <select id="inputState" class="form-control">
                                <option selected>Choose...</option>
                                <option>...</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputZip">Zip</label>
                            <input type="text" class="form-control" id="inputZip">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                                Check me out
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary w-50 mx-auto w-100">Sign in</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <script>
        $(function () {

            function CheckPassword() {
                var passwordOne = $("input[name='password']").val().trim();
                var passwordTwo = $("input[name='passwordAgain']").val().trim();
                if (passwordOne !== passwordTwo) {
                    return false;
                }
                else {
                   return true;
                }
            }

            $("input[name='passwordAgain']").bind('input propertychange', function () {
              var checkResult=CheckPassword();
              if(!checkResult)
                    $("button").attr("disabled","disabled");
              else
                    $("button").removeAttr("disabled");
            })

            @* 在这里点击时既会触发按钮的点击事件，又会触发input元素的blur事件，经过测试二者会先触发blur事件 *@
            $("button").on("click", function () {
                var formData=$("form").serializeArray();
                var params=new Object();
                $.each(formData,function(){
                    params[this.name]=this.value;
                });

                CheckPassword();
                $.ajax({
                    url: '@Url.Action("CreateUser", "LogIn")',
                    type: 'POST',
                    async: true,
                    data: params,
                    timeout: 5000,
                    dataType: 'json', 
                    success: function (data, textStatus, jqXHR) {
                        debugger;
                        if(data.stateCode===1)
                        {
                            "注册成功!"
                        }
                        else if(data.stateCode===2)
                        {
                            "邮箱已注册";
                        }
                        else if(data.stateCode===3)
                            "手机已注册";
                        }
                });
            });
        });
    </script>
</body>

</html>