@{
    Layout = null;
    ViewData["Title"] = "LogIn Page";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link href="~/lib/fontawesome-free-5.13.0-web/css/all.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/custom.css"/>
    <style>
        body {
            font-family: "宋体";
            background: #e3f2fd;
            box-shadow: inset 0 0 5px 5px #ddf6ff;
        }
    </style>
</head>

<body>
<div class="container vh-100">
    <div class="row h-100">
        <div class="col-md-6 col-sm-10 mx-auto my-auto px-5 pb-2 pt-5 rounded-sm" style="border: 1px solid lightcyan">

            <!-- Modal -->
            <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content border-0 rounded-sm pb-3 pt-0">
                        <div class="modal-header border-bottom border-light py-2">
                            <h5 class="modal-title text-secondary" id="exampleModalLabel"
                                style="font-size: .95rem;">
                                <i class="fa fa-info-circle text-info"></i>&nbsp;
                                提示
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                        </div>
                    </div>
                </div>
            </div>

            <form id="submitForm">
                <div class="form-row">
                    <h4 class="text-secondary">欢迎注册!</h4>
                </div>

                <div class="form-row mt-3">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">邮箱<span class="text-danger">&nbsp;*</span></label>
                        <input type="email" name="email" class="form-control border-light custom-tab-font-size" id="inputEmail4" placeholder="邮箱" autocomplete="off" data-container="body" data-placement="left" data-content="请输入合法的邮箱格式">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputAddress">用户名<span class="text-danger">&nbsp;*</span></label>
                        <input type="text" class="form-control border-light custom-tab-font-size" id="inputAddress" placeholder="用户名" name="name" maxlength="12" pattern="[A-Za-z0-9]{6,12}" autocomplete="off" data-container="body" data-toggle="popover" data-placement="right" data-content="仅支持数字，英文字符及下划线，最小长度6位，最大长度12位">
                    </div>
                </div>

                <div class="form-group">
                    <label for="user_password">密码<span class="text-danger">&nbsp;*</span></label>
                    <input type="password" class="form-control border-light custom-tab-font-size" name="password" placeholder="密码" autocomplete="off" data-container="body" data-toggle="popover" data-placement="right" data-content="至少包含一个大写英文字符，一个小写英文字符，一个数字，一个特殊符号，长度不少于8位"/>
                </div>

                <div class="form_group">
                    <label for="confirm_user_password">
                        确认密码<span class="text-danger">&nbsp;*</span>
                    </label>
                    <input type="password" class="form-control border-light custom-tab-font-size" name="passwordAgain"
                           placeholder="请再次输入您的密码" autocomplete="off" data-container="body" data-placement="right" data-content="两次输入的密码不一致"/>
                </div>

                <div class="form-group mt-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                            记住我
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-12">
                            <button type="button" class="btn btn-primary w-50 mx-auto w-100">
                                注&nbsp;册
                            </button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(function() {

        $('[data-toggle="popover"]').popover({
            trigger: "focus"
        });

        function CheckPassword() {
            var passwordOne = $("input[name='password']").val().trim();
            var passwordTwo = $("input[name='passwordAgain']").val().trim();
            if (passwordOne !== passwordTwo) {
                return false;
            } else {
                return true;
            }
        }

        function Redirect() {
            window.location.href = "/Home/Index";
        }

        $("input[name='passwordAgain'],input[name='password']").bind('input propertychange',
            function() {
                var checkResult = CheckPassword();
                if (!checkResult)
                    $("button").attr("disabled", "disabled");
                else
                    $("button").removeAttr("disabled");
            });

        function CheckFormData(e) {
            $target = $(e.target);
            var inputName = $target.attr("name"), value = $target.val();

            var emailReg = /^\w+([\.\-]\w+)*\@@\w+([\.\-]\w+)*\.\w+$/ig;
            var nameReg = /^[a-zA-Z0-9_]{6,12}$/ig;
            var passwordReg = /^.*(?=.{8,})(?=.*\d)(?=.*[A-Z])(?=.*[a-z])(?=.*[!@@#$%^&*? ]).*$/ig;

            switch (inputName) {
            case "email":
                if (!emailReg.test(value)) {
                    $target.popover("show");
                    return false;
                } else {
                    $target.popover("hide");
                }
                break;
            case "username":
                if (!nameReg.test(value)) {
                    $target.popover("show");
                    return false;
                } else {
                    $target.popover("hide");
                }
                break;
            case "password":
                if (!passwordReg.test(value)) {
                    $target.popover("show");
                    return false;
                } else {
                    $target.popover("hide");
                }
                break;
            }
        }

        $("input").on("blur",
            function(e) {
                CheckFormData(e);
            });

        // 在这里点击时既会触发按钮的点击事件，又会触发input元素的blur事件，经过测试二者会先触发blur事件
        $("button[type='button']").on("click",
            function() {
                $("input").each(function(index, item) {
                    var $target = $(this);
                    if ($target.val().trim() === "") {
                        $target.attr("placeholder", "*请填写该字段");
                        return false;
                    }
                });

                var formData = $("form").serializeArray();
                var params = {};
                $.each(formData,
                    function() {
                        params[this.name] = this.value;
                    });

                CheckPassword();
                $.post({
                    url: '@Url.Action("CreateUser", "LogIn")',
                    type: 'POST',
                    data: params,
                    timeout: 10000,
                    dataType: 'json',
                    success: function(data, textStatus, jqXHR) {
                        if (data.stateCode === 1) {
                            $("input").val("");
                            $("#alertModal").find(".modal-body").text("");
                            $("#alertModal").find(".modal-body").text("注册成功，请在两分钟内点击您邮箱中的链接激活账户，否则无法登陆！");
                            $('#alertModal').modal('show');
                            // 错误的写法，这种写法表示立即执行
                            // setTimeout(Redirect(), 2000);
                            // 正确的写法
                            setTimeout(Redirect, 3000);
                        } else if (data.stateCode === 2) {
                            $("#alertModal").find(".modal-body").text("");
                            $("#alertModal").find(".modal-body").text("该邮箱已经注册，请更换邮箱重新注册！");
                            $('#alertModal').modal('show');
                        } else if (data.stateCode === 3) {
                            $("#alertModal").find(".modal-body").text("");
                            $("#alertModal").find(".modal-body").text("当前用户名已经注册，请更换用户名重新注册！");
                            $('#alertModal').modal('show');
                        }
                    },
                    error: function(xhr, textStatus) {
                        console.log('错误', xhr.responseText);
                        console.log(xhr);
                        console.log(textStatus);
                    }
                });
            });
    });
</script>
</body>

</html>