@{
    ViewData["Title"] = "个人首页";
}
<link href="~/css/custom.css" rel="stylesheet" />

<style>
    /*覆盖bootstrap默认的样式*/
    .col-9.border-left .nav-link {
        color: rgba(0, 0, 0, .5) !important;
    }

        .col-9.border-left .nav-link.active {
            color: #007bff !important;
        }

    .table td,
    .table th {
        border: 0 !important;
    }
</style>

<div class="row my-4 px-5 mt-5" data-name="middle-content">
    <div class="col-3">
        <div class="px-5 text-center">
            <img src="/imgs/Profile.JPG" class="custom-large-radius custom-w-40" />
        </div>
        <div class="text-center mt-3">
            <label class="small text-muted">我很拽</label>
        </div>
    </div>
    <div class="col-9 border-left border-light">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <nav>
                    <div class="nav nav-tabs border-light" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active custom-tab-font-size" id="nav-home-tab" data-toggle="tab"
                           href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">文章</a>
                        <a class="nav-item nav-link custom-tab-font-size" id="nav-profile-tab" data-toggle="tab"
                           href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">评论</a>
                        <a class="nav-item nav-link custom-tab-font-size" id="nav-contact-tab" data-toggle="tab"
                           href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">关注</a>
                        <a class="nav-item nav-link custom-tab-font-size" id="nav-nav-setting-tab" data-toggle="tab"
                           href="#nav-setting" role="tab" aria-controls="nav-setting" aria-selected="false">设置</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">

                    <div class="tab-pane fade show active mt-3" id="nav-home" role="tabpanel"
                         aria-labelledby="nav-home-tab">

                        <div class="overflow-hidden">
                            <a asp-controller="article" asp-action="editor"
                               class="float-right custom-text-decoration-none small" title="写文章">
                                <i class="fas fa-pen-nib"></i>&nbsp;写文章
                            </a>
                        </div>

                        <div data-articlesContainer>

                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        ...
                    </div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                        ...
                    </div>
                    <div class="tab-pane fade" id="nav-setting" role="tabpanel" aria-labelledby="nav-setting-tab">
                        <form class="w-75 mt-4 p-3 rounded-sm">
                            <div class="form-group">
                                <label for="email" class="small text-secondary">邮箱地址</label>
                                <input type="email" class="form-control custom-input-font-size" id="email"
                                       placeholder="name@example.com">
                            </div>
                            <div class="form-group">
                                <label for="phone" class="small text-secondary">手机号码</label>
                                <input type="text" class="form-control custom-input-font-size" id="phone"
                                       placeholder="手机号码">
                            </div>
                            <div class="form-group">
                                <label for="username" class="small text-secondary">用户名</label>
                                <input type="text" class="form-control custom-input-font-size" id="username"
                                       placeholder="用户名">
                            </div>
                            <div class="form-group">
                                <label for="introduction" class="small text-secondary">个人简介</label>
                                <textarea class="form-control custom-input-font-size" id="introduction" rows="3"
                                          placeholder="简单介绍一下自己吧……"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-sm btn-primary rounded-lg">提&nbsp;交</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                ...
            </div>
        </div>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script>

    var partialViewUrl = "@Url.Action("GetPartialView","Personal")";
    var deleteArticleUrl = "@Url.Action("DeleteArticle","Personal")";
    var pageNumber = 1;

    /* 动态设置个人首页的高度，使其能够撑起页面 */
    function SetHeight() {
        $("div[data-name='middle-content']").css("min-height", $(window).height() - 400);
    }

    $(function () {
        SetHeight();
        $(window).on("resize", function () {
            SetHeight();
        })
        updateArticleList(pageNumber);

        $("div[data-articlesContainer]").on("click", ".pagination a", function () {
            pageNumber = $(this).data("pagenum");
            updateArticleList(pageNumber);
        });

        $("div[data-articlesContainer]").on("click", "a[data-deletebutton]", function () {
            var $this = $(this);
            var deleteArticleId = $this.data("articleid");
            $.ajax({
                url: deleteArticleUrl,
                type: 'POST',
                async: true,
                data: {
                    deleteArticleId: deleteArticleId
                },
                timeout: 5000,
                success: function (data, textStatus, jqXHR) {
                    debugger;
                    updateArticleList(pageNumber);
                }
            });
        });
    });

    function updateArticleList(pageNumber) {
        $.ajax({
            url: partialViewUrl,
            type: 'POST',
            async: true,
            timeout: 5000,
            data: {
                pageNumber: pageNumber
            },
            dataType: 'html',
            success: function (data) {
                $("div[data-articlesContainer]").html(data);
            }
        });
    }


</script>
