/*字体*/
.custom-input-font-size {
    font-size: 0.7rem;
}

.custom-input-font-size-sm {
    font-size: 0.7rem;
}

.custom-table-font-size {
    font-size: 0.8rem;
}

.custom-tab-font-size {
    font-size: 0.85rem;
}

/* 自定义宽度 */
.custom-w-40 {
    width: 40%;
}

/* 倒角 */
.custom-large-radius {
    border-radius: 50%;
}
