/*字体*/

.custom-input-font-size {
    font-size: 0.7rem;
}

.custom-input-font-size-sm {
    font-size: 0.7rem;
}

.custom-table-font-size {
    font-size: 0.8rem;
}

.custom-tab-font-size {
    font-size: 0.85rem;
}

.custom-sm-font {
    font-size: 12px;
}

.custom-font-family {
    font-family: 等线,Helvetica,Arial,Microsoft Yahei,sans-serif !important;
}


/* 自定义宽度 */

.custom-w-40 {
    width: 40%;
}

.custom-fixed-w-sm {
    width: .7rem;
}

.custom-fixed-h-sm {
    height: .7rem;
}

/* 倒角 */
.custom-large-radius {
    border-radius: 50%;
}

.custom-header-shadow {
    box-shadow: 0 0 10px -5px rgb(23 54 71 / 50%);
}

a.custom-text-decoration-none:hover {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
