/*字体*/

.custom-input-font-size {
    font-size: 0.7rem;
}

.custom-input-font-size-sm {
    font-size: 0.7rem;
}

.custom-table-font-size {
    font-size: 0.8rem;
}

.custom-tab-font-size {
    font-size: 0.85rem;
}

.custom-font-family {
    font-family: 'Noto Serif SC', serif !important;
}


/* 自定义宽度 */

.custom-w-40 {
    width: 40%;
}


/* 倒角 */

.custom-large-radius {
    border-radius: 50%;
}

.custom-header-shadow{
    box-shadow: 0 0 10px -5px rgb(23 54 71 / 50%);
}

a.custom-text-decoration-none:hover {
    text-decoration: none;
}