
@{
    ViewData["Title"] = "PageDetail";
    Layout = null;
}


<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <!-- 要想BS的样式在手机端自动收缩，下行代码必须 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>首页</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 vh-100 overflow-auto position-relative px-0 shadow-sm" style="background-color: #333;">
                <div class="w-100 px-4 text-white py-3 border-bottom border-dark">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                    <a class="float-right text-light font-weight-bold" href="#">返 回</a>
                </div>
                <img src="~/imgs/smaller.png" class="w-50 d-block p-2 mx-auto my-2" />
                <div class="w-100 border-top border-dark overflow-hidden">
                    <nav class="nav-bar">
                        <a class="nav-link d-inline-block text-white-50 w-75 px-0 float-left text-center font-weight-bold">目录</a>
                        <a class="nav-link d-inline-block text-light w-25 px-0 float-left text-center font-weight-bold bg-primary">
                            <i class="fa fa-bookmark" aria-hidden="true"></i> 书签
                        </a>
                    </nav>
                </div>
                <nav class="nav-bar">
                    <a class="nav-link text-white-50 border-top border-dark py-3 font-weight-bold text-right px-4"
                       href="#">封面</a>
                    <a class="nav-link text-white-50 border-top border-dark py-3 font-weight-bold text-right px-4"
                       href="#">中文摘要</a>
                    <a class="nav-link text-white-50 border-top border-dark py-3 font-weight-bold text-right px-4"
                       href="#">英文摘要</a>
                    <a class="nav-link text-white-50 border-top border-dark py-3 font-weight-bold text-right px-4"
                       href="#">诚信声明</a>
                    <a class="nav-link text-white-50 border-top border-dark py-3 font-weight-bold text-right px-4"
                       href="#">授权说明</a>
                    <a class="nav-link text-white-50 border-top border-dark py-3 font-weight-bold text-right px-4"
                       href="#">开题报告</a>
                    <a class="nav-link text-white-50 border-top border-dark py-3 font-weight-bold text-right px-4"
                       href="#">目录</a>
                    <a class="nav-link text-white-50 border-top border-dark py-3 font-weight-bold text-right px-4"
                       href="#">引言</a>
                    <a class="nav-link text-white-50 border-top border-dark py-3 font-weight-bold text-right px-4"
                       href="#">正文</a>
                    <a class="nav-link text-white-50 border-top border-dark py-3 font-weight-bold text-right px-4"
                       href="#">参考文献</a>
                    <a class="nav-link text-white-50 border-top border-dark py-3 font-weight-bold text-right px-4"
                       href="#">致谢</a>
                </nav>
            </div>
            <!-- 想让溢出的部分显示为滚动条，必须给母元素设置设置一个高度 -->
            <div class="col-9 bg-light vh-100 overflow-auto position-relative px-5">
                <div class="card w-75 min-vh-100 my-5 rounded-0 p-4 border-0 shadow-sm mx-auto">
                    <div class="btn-group w-25 bg-white" role="group">
                        <button type="button"
                                class="btn btn-light border text-secondary font-weight-light">
                            Left
                        </button>
                        <button type="button"
                                class="btn btn-light border text-secondary font-weight-light">
                            Middle
                        </button>
                        <button type="button"
                                class="btn btn-light border text-secondary font-weight-light">
                            Right
                        </button>
                    </div>
                    <div class="card-body" style="letter-spacing: .04rem;font-family: '宋体';">
                        <h3 class="card-title text-center font-weight-bold mb-0 pb-4">
                            基于装置艺术的叙事表达研究
                        </h3>
                        <h4 class="card-title mb-0 py-3 text-primary font-weight-bold">诚信声明</h4>
                        <p class="card-text py-1">
                            本人系本作品的唯一作者（第一作者），即著作权人。论文中除了特别加以标注引用和致谢的部分外，不包含其他人已经发表或撰写的研究成果，不包含他人为获得中央美术学院及其他教育机构学位所撰写的研究成果。与我一同工作的同学对本研究所做的任何贡献均已在论文中作了明确的说明并表示了谢意。
                        </p>
                        <p class="card-text pb-2">
                            本人系本作品的唯一作者（第一作者），即著作权人。论文中除了特别加以标注引用和致谢的部分外，不包含其他人已经发表或撰写的研究成果，不包含他人为获得中央美术学院及其他教育机构学位所撰写的研究成果。与我一同工作的同学对本研究所做的任何贡献均已在论文中作了明确的说明并表示了谢意。
                        </p>
                        <h4 class="card-title mb-0 py-3 text-primary font-weight-bold">授权说明</h4>
                        <p class="card-text pb-2">
                            本人系本作品的唯一作者（第一作者），即著作权人。论文中除了特别加以标注引用和致谢的部分外，不包含其他人已经发表或撰写的研究成果，不包含他人为获得中央美术学院及其他教育机构学位所撰写的研究成果。与我一同工作的同学对本研究所做的任何贡献均已在论文中作了明确的说明并表示了谢意。
                        </p>
                        <h4 class="card-title mb-0 py-3 text-primary font-weight-bold">引言</h4>
                        <p class="card-text py-1">
                            本人系本作品的唯一作者（第一作者），即著作权人。论文中除了特别加以标注引用和致谢的部分外，不包含其他人已经发表或撰写的研究成果，不包含他人为获得中央美术学院及其他教育机构学位所撰写的研究成果。与我一同工作的同学对本研究所做的任何贡献均已在论文中作了明确的说明并表示了谢意。
                        </p>
                        <p class="card-text py-1">
                            本人系本作品的唯一作者（第一作者），即著作权人。论文中除了特别加以标注引用和致谢的部分外，不包含其他人已经发表或撰写的研究成果，不包含他人为获得中央美术学院及其他教育机构学位所撰写的研究成果。与我一同工作的同学对本研究所做的任何贡献均已在论文中作了明确的说明并表示了谢意。
                        </p>
                        <p class="card-text pb-2">
                            本人系本作品的唯一作者（第一作者），即著作权人。论文中除了特别加以标注引用和致谢的部分外，不包含其他人已经发表或撰写的研究成果，不包含他人为获得中央美术学院及其他教育机构学位所撰写的研究成果。与我一同工作的同学对本研究所做的任何贡献均已在论文中作了明确的说明并表示了谢意。
                        </p>
                        <h4 class="card-title mb-0 py-3 text-primary font-weight-bold">正文</h4>
                        <p class="card-text py-1">
                            本人系本作品的唯一作者（第一作者），即著作权人。论文中除了特别加以标注引用和致谢的部分外，不包含其他人已经发表或撰写的研究成果，不包含他人为获得中央美术学院及其他教育机构学位所撰写的研究成果。与我一同工作的同学对本研究所做的任何贡献均已在论文中作了明确的说明并表示了谢意。
                        </p>
                        <p class="card-text py-1">
                            本人系本作品的唯一作者（第一作者），即著作权人。论文中除了特别加以标注引用和致谢的部分外，不包含其他人已经发表或撰写的研究成果，不包含他人为获得中央美术学院及其他教育机构学位所撰写的研究成果。与我一同工作的同学对本研究所做的任何贡献均已在论文中作了明确的说明并表示了谢意。
                        </p>
                        <p class="card-text pb-2">
                            本人系本作品的唯一作者（第一作者），即著作权人。论文中除了特别加以标注引用和致谢的部分外，不包含其他人已经发表或撰写的研究成果，不包含他人为获得中央美术学院及其他教育机构学位所撰写的研究成果。与我一同工作的同学对本研究所做的任何贡献均已在论文中作了明确的说明并表示了谢意。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
</body>

</html>