@{
    ViewData["Title"] = "编辑页面";
    Layout = null;
}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    @*要想让CkEditor在手机端自适应下面这样代码必须*@
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document Editor</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/article/editor.md/css/editormd.css" rel="stylesheet" />

</head>

<body class="m-0 min-vh-100">

    <div class="container-fluid p-2 min-vh-100" style="background-color:#f0f8ff">
        @using (Html.BeginForm("Submit", "Article"))
        {
            <div class="editormd" id="editor">
                <textarea class="editormd-markdown-textarea" name="markdownDoc"></textarea>
                <textarea class="editormd-html-textarea" name="htmlCode"></textarea>
            </div>
        }
    </div>

    <script src="~/article/editor.md/src/editormd.js"></script>
    <script>
        $(function () {
            var editor = editormd("editor", {
                height: "1000px",
                path: "/article/editor.md/lib/",
                toolbarIcons: function () {
                    return editormd.toolbarModes.full.concat(['postbutton']);
                },
                saveHTMLToTextarea: true,
                toolbarIconsClass: {
                    postbutton: "fa-paper-plane"
                },
                lang: {
                    toolbar: {
                        postbutton: "提交"
                    }
                },
                onload: function () {
                    editormd.loadPlugin("./editor.md/plugins/postbutton/postbutton", function () {
                        // 初始化插件 实现监听
                        editor.postbutton();
                    });
                }
            })
        });
    </script>
</body>

</html>